{% extends "blogdiy/index.html" %}

{% block title %}
Авторизация
{% endblock %}

{% block main %}

{% if form.errors %}
<p class="errorlist">
    <strong>Логин и пароль не соответствуют</strong>
</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p class="lead">
    Вы уже авторизорованы
</p>
{% else %}
<p class="lead">
    Войдите, что бы посмотреть страницу
</p>
<div class="container" style="display: flex; flex-direction: column;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table style="display: flex; flex-direction: column;">
            <tr>
                <td style="padding-right: 1%;">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td style="padding-right: 1%;">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Войти" class="btn btn-primary btn-sm" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'password_reset' %}">Проебали пароль?</a>
    <br>
    <a class="btn btn-primary btn-sm mt-2" style="width: 12em;" href="{% url 'social:begin' 'google-oauth2' %}">
        Войти через Google
    </a>
</div>
{% endif %}
{% endif %}
{% endblock %}