{% extends "blogdiy/index.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<div class="container-fluid all-block-blog" style="width: 70%; float: left;">
    <span class="small lh-125">
        <strong>От кого:</strong>
        {{ sms.sender }}
    </span><br>
    <span class="small lh-125">
        <strong>Кому:</strong>
        {{ sms.addressee }}
    </span><br>
    <span>
        <strong class="small lh-125">Текст:</strong><br>
        {{ sms.text_message }}
    </span><br>
    <span class="small lh-125">
        Дата отправления: {{ sms.date_message }}
    </span>
</div>



{% endblock %}