{% extends "blogdiy/index.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<div class="container-fluid message-custom" style="width: 75%;">
    <div class="scrolling" style="margin: 5px;">
        {% if mess %}
        {% for s in mess %}
        {% if request.user == s.sender %}
        <div class="container-fluid" style="overflow: auto; width: 50%; float: right; height: auto;">
            <div class="container-fluid mt-1 mb-3 my-mess-r shadow">

                <span><img class="bd-placeholder-img mr-2" width="25" height="25"
                        src="{{ s.sender.bloger.foto.url }}"></span>
                <span class="small lh-125" style="opacity: 0.4;">Вы:</span><br>
                <span style="font-size: 14px;">{{ s.text_message }}</span><br>
                <span style="font-size: 10px; opacity: 0.4;">{{ s.date_message }}</span>
                {% include 'include/message-delete.html' %}
            </div>
        </div><br>
        {% elif request.user == s.addressee %}
        <div class="container-fluid" style="overflow: auto; width: 50%; float: left; height: auto;">
            <div class="container-fluid mt-1 mb-3 my-mess-l shadow">
                <span><img class="bd-placeholder-img mr-2" width="25" height="25"
                        src="{{ s.sender.bloger.foto.url }}"></span>
                <span class="small lh-125" style="opacity: 0.4;">{{ s.sender }}:</span><br>
                <span style="font-size: 14px;">{{ s.text_message }}</span><br>
                <span style="font-size: 10px; opacity: 0.4;">{{ s.date_message }}</span>
            </div>
        </div><br>
        {% endif %}
        <br><br><br><br><br>
        {% endfor %}
        {% else %}
        <p>У вас, пока что, нет перписки с этим пользователём.</p>
        {% endif %}
    </div>
    <form action="" method="POST" style="width: 100%;" class="mb-1">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Отправить" class="btn btn-primary btn-sm b-cust">
    </form>
    {% block js %}
    {% load static %}
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->

    <script type="text/javascript" src={% static "blogdiy/JS/message.js" %}></script>
    {% endblock %}
</div>
<div class="container-fluid scrolling" style="float: right; width: 25%; background-color: #ecfffe;">
    {% for fr in frnds %}
    <div class="container-fluid my-mess-letters shadow">
        <a href="{% url 'your-messages-user' fr %}" style="text-decoration: none;">
            {% for x in fr.user_sender.all|slice:":1" %}
            <p>
                {% if x.addressee == request.user %}
                <span><img class="bd-placeholder-img mr-2" width="35" height="35"
                        src="{{ x.sender.bloger.foto.url }}"></span>
                {{x.sender}}
                <br>
                <span style="font-size: 14px; color: black;">
                    {{x.text_message|truncatechars:40}}
                </span>
                {% endif %}
            </p>
            {% endfor %}
        </a>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}