{% extends "blogdiy/index.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<div class="container-fluid" style="width: 70%; float: left; padding: 10px; margin: 10px;">
    {% if blogs %}
    {% for b in blogs %}
    <div class="container-fluid pb-1 blog-custom">
        <a href="{% url 'blogs-detail' b.id %}">{{ b.title }}</a>
        <br>
        <a href="{{ b.author_blog.bloger.get_absolute_url }}" style="text-decoration: none;">
            <img class="bd-placeholder-img mr-2" width="25" height="25" src="{{ b.author_blog.bloger.foto.url }}">
            <span class="small lh-125">{{b.author_blog}}</span>
        </a>
        <br>
        <span class="small lh-125">
            {{ b.date }}
        </span>
        <div class="container-fluid" style="text-align: center;">
            <img class="img-fluid" src="{{ b.picture_blog.url }}" alt="{{ b.title }}">
        </div>
        <div class="container">
            <p>
                {{b.text_blog|truncatechars:250}}
            </p>
            <a href="{% url 'blogs-detail' b.id %}" class="small lh-125">Посмотреть...</a>
        </div>
        {{ b.like_set.all.count }}
    </div>
    <hr>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}