{% extends "blogdiy/index.html" %}
{% load i18n %}
{% block title %}
{% trans 'Создать тему' %}
{% endblock %}

{% block main %}
<h5 style="padding-left: 10px;">
    {% trans 'Создать тему блога' %}:
</h5>
{% if form.errors %}
<p class="errorlist">
    <strong>{% trans 'Формат изображение не соответствует заданному' %}...<br>
        <span style="font-size: 12px;">({% trans 'Допустимые форматы' %}: BMP, EPS, GIF, JPEG, PDF, PNG, PNM,
            TIFF)</span>
    </strong>
</p>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data" class="form-label" style="padding-left: 10px;">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Создать" class="btn btn-primary btn-sm">
</form>
{% endblock %}