{% extends "blogdiy/index.html" %}
{% load i18n %}
{% block title %}
{{ title }}
{% endblock %}

{% block head %}

{% endblock %}

{% block main %}

<div class="container-fluid" style="text-align: center;">
    <div>
        <h3>
            {% trans 'Главная страница' %}
        </h3>
    </div>
    {% if user.is_authenticated %}
    <p class="lead">
        {% trans 'Используйте навигацию вверху страницы' %}
    </p>
    {% else %}
    <p class="lead">
        {% trans 'Это главная страница блога' %}.<br>
        {% trans 'Для того чтобы иметь возможность создавать темы и комментировать статьи' %} -
        {% trans 'авторизируйтесь на сайте или пройдите регистрацию' %}.
        {% trans 'Или же, просто, просматривайте записи и читайте комментарии' %}...
        {% trans 'Если умеете' %}.
    </p>
    {%endif%}
</div>
{% endblock %}