{% extends "blogdiy/index.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head %}

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div>
        <h4 style="text-align: left;">
            Главная страница
        </h4>
    </div>
    {% if user.is_authenticated %}
    <p class="lead">
        Используйте навигацию вверху страницы
    </p>
    <button type="button" class="btn btn-primary" id="liveToastBtn">Показать лайв тосты</button>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 мин назад</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            <div class="toast-body">
                Привет, мир! Это тост-сообщение.
            </div>
        </div>
    </div>
    {% else %}
    <p class="lead">
        Это главная страница блога.<br> Для того чтобы иметь возможность создавать темы и комментировать статьи -
        авторизируйтесь на сайте или пройдите регистрацию.
        Или же, просто, просматривайте записи и читайте комментарии...
        Если умеете.
    </p>
    {%endif%}
</div>
{% endblock %}