{% extends "blogdiy/index.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div style="float: right;">
        <a class="btn btn-outline-secondary" href="{% url 'message-writing' %}">Написать</a>

    </div>
    <p class="lead">
        <img id="myphoto" class="bd-placeholder-img mr-2" width="75" height="75" src="{{ user.bloger.foto.url }}"><br>
        {{ user.bloger.name }} {{ user.bloger.surname }}
    <p class="small lh-125">
        <strong>Email: </strong>{{user.email}}<br>
        <strong>Никнейм: </strong>{{user.username}}
    </p>

    </p>

    <p class="small lh-125">
        Возраст: {% if user.bloger.age %} {{ user.bloger.age }} {% else %} не указан {% endif %}
    </p>
    <p style="font-size: 14px;">
        {{ user.bloger.about|safe }}
    </p>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" id="menu1" type="button"
                data-toggle="dropdown">Курсы валют
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="my-id">
                <li role="presentation"><span role="menuitem" tabindex="2" style="font-size: 12px;">{{dollar}}</span>
                </li>
                <hr>
                <li role="presentation"><span role="menuitem" tabindex="2" style="font-size: 12px;">{{euro}}</span></li>
                <hr>
                <li role="presentation"><span role="menuitem" tabindex="2" style="font-size: 12px;">{{rubl}}</span></li>
                <hr>
                <li role="presentation"><span role="menuitem" tabindex="2" style="font-size: 12px;">{{zloty}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <p style="text-align: center;">
        Перейдите на страницу авторизации.
    </p>
</div>
{% endif %}
{% block js %}
{% load static %}
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->

<script type="text/javascript" src={% static "blogdiy/JS/message.js" %}></script>
{% endblock %}
{% endblock %}