{% extends "blogdiy/index.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div style="float: right; padding: 3px;">
        <a class="btn btn-outline-secondary" href="{% url 'message-writing' %}">Написать</a>

    </div>
    <p class="lead">
        <img id="myphoto" class="bd-placeholder-img mr-2" width="75" height="75" src="{{ user.bloger.foto.url }}"><br>
        {{ user.bloger.name }} {{ user.bloger.surname }}
    <p class="small lh-125">
        <strong>Email: </strong>{{user.email}}<br>
        <strong>Никнейм: </strong>{{user.username}}
    </p>

    </p>

    <p class="small lh-125">
        Возраст: {% if user.bloger.age %} {{ user.bloger.age }} {% else %} не указан {% endif %}
    </p>
    <a type="info" id="openinfo" href="#" onclick="showInfo (this)"
        style="font-size: small; text-decoration: none;">Детальная
        информация</a>
    <div id="aboutme" style="display: none;">
        <p style="font-size: 14px; width: 40%;">
            {{ user.bloger.about|safe }}
        </p>
        <a type="info" class="content_toggle" href="#" onclick="hiddenInfo (this)"
            style="font-size: small; text-decoration: none;">Скрыть информацию</a>
    </div>
</div>
{% if messages %}
{% for m in messages %}
<div class="alert alert-info" style="text-align:center; width: 70%;">
    {{ m }}
</div>
{% endfor %}
{% endif %}
{% else %}
<div class="container-fluid">
    <p style="text-align: center;">
        Перейдите на страницу авторизации.
    </p>
</div>
{% endif %}
{% block js %}
{% load static %}
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->

<script type="text/javascript" src={% static "blogdiy/JS/message.js" %}></script>
{% endblock %}
{% endblock %}