body {
	margin: 0px;
	background: #d7f3f8;
}

aside {
	width: 18%;
	min-height: inherit;
	margin: 5px;
	padding-right: 5px;
	float: left;
	text-align: center;
}

main {
	position: relative;
	overflow: auto;
	width: 80%;
	margin: 5px;
	padding-left: 5px;
	float: right;
}

label {
	font-size: 14px;
}

img.bd-placeholder-img {
	border-radius: 50%;
}

#id_title, #id_text_blog, #id_date, #id_username, #id_password, #id_foto, #id_addressee, #id_text_message {
	text-align: left;
	display: block;
	width: 50%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	margin-top: 5px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#id_text_blog, #id_date, #id_text_message {
	height: auto;
}

#id_username, #id_password, #id_email, #id_password1, #id_password2, #id_name, #id_surname, #id_age, #id_about, #id_foto {
	width: 80%;
	text-align: center;
}

#id_foto {
	text-align: left;
}

.errorlist {
	color: red;
}

.blog-custom {
	background-color: #d7f3f8;
	border: 3px double rgb(122, 217, 230);
	border-radius: 10px;
}

.blog-custom-g {
	background-color: #9df5b3;
	border: 3px double rgb(121, 245, 121);
}

.blog-custom:hover {
	border: 6px double rgb(122, 217, 230);
	transform: scale(1.05);
	transition: all .6s;
}

.message-custom {
	background-color: rgb(241, 238, 238);
	float: left;
	border: 1px solid rgb(215, 216, 213);
}

.custom-specblog {
	padding: 10px;
}

.shadow {
	box-shadow: 0 0 5px;
}

.scrolling {
	background-color: rgb(218, 247, 238);
	position: relative;
	overflow-y: scroll;
	min-height: 470px;
	max-height: 470px;
}

.my-mess-l, .my-mess-r {
	display: block;
	border-radius: 10px;
	padding: 5px;
}

.my-mess-r {
	background-color: rgb(168, 242, 245);
}

.my-mess-l {
	background-color: rgb(174, 253, 194);
}

.for-delete_message {
	float: right;
	font-size: 10px;
	color: rgb(168, 242, 220);
}

.for-delete_message:hover {
	color: blue;
}

#myphoto {
	cursor: pointer;
	transition: all .8s;
}

#myphoto.growing {
	width: 200px;
	height: 200px;
}

#myphoto.growing_small {
	width: 75px;
	height: 75px;	
}

#my-id {
	position: inherit;
	float: none;
	transform: none;
}