body {
	margin: 0px;
}

hr {
	background-color: honeydew;
}

aside {
	width: 18%;
	height: inherit;
	margin: 5px;
	padding-right: 5px;
	float: left;
	text-align: center;
	border-right: 1px solid #4596e7;
}

main {
	position: relative;
	overflow: auto;
	width: 80%;
	margin: 5px;
	padding-left: 5px;
	float: right;
}

.nav-link {
	border-right: 1px solid gray;
	text-decoration: none;
}

.nav-link:hover {
	background-color: rgb(233, 225, 248);
}

.pagination-message {
	width: 70%;
	display: flex;
}

.page-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

label {
	font-size: 14px;
	margin-bottom: 0px;
}

img.bd-placeholder-img {
	border-radius: 50%;
}

#id_title, #id_text_blog, #id_date, #id_username, #id_password, #id_foto, #id_addressee, #id_text_message {
	text-align: left;
	display: block;
	width: 50%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#id_text_blog, #id_date, #id_text_message {
	height: auto;
}

#id_username, #id_password, #id_email, #id_password1, #id_password2, #id_name, #id_surname, #id_age, #id_about, #id_foto {
	width: 80%;
	text-align: center;
}

#id_foto {
	text-align: left;
}

.errorlist {
	color: rgb(221, 139, 139);
}

.blog-custom {
	background-color: #22272e;
	border: 3px double rgb(225, 232, 233);
	border-radius: 10px;
}

.blog-custom-g {
	background-color: #9df5b3;
	border: 3px double rgb(225, 232, 233);
}

.blog-custom:hover {
	border: 6px double rgb(225, 232, 233);
	transform: scale(1.05);
	transition: all .6s;
}

.message-custom {
	background-color: #22272e;
	float: left;
	border: 1px solid rgb(215, 216, 213);
}

.scrolladdresee {
	float: right;
	width: 25%;
	background-color: #22272e;
}

.custom-specblog {
	padding: 10px;
}

.sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
}

.shadow {
	box-shadow: 0 0 5px;
}

.scrolling {
	background-color: #22272e;
	position: relative;
	overflow-y: scroll;
	min-height: 470px;
	max-height: 470px;
}

.my-mess-l, .my-mess-r, .my-mess-letters {
	display: block;
	border-radius: 10px;
	padding: 5px;
}

.my-mess-r {
	background-color: rgb(41, 120, 194);
}

.my-mess-l {
	background-color: rgb(53, 175, 60);
}

.my-mess-letters {
	background-color: rgb(230, 247, 235);
}

.for-delete_message {
	float: right;
	font-size: 10px;
	color: rgb(168, 242, 220);
}

.for-delete_message:hover {
	color: blue;
}

#myphoto {
	cursor: pointer;
	transition: all .8s;
}

#myphoto.growing {
	width: 200px;
	height: 200px;
}

#myphoto.small_grow {
	width: 75px;
	height: 75px;
}

#my-id {
	position: inherit;
	float: none;
	transform: none;
}

#showmeblog {
	display: none;
	transition: all 1.8s;
}

#open-filter, #hide-filter {
	font-size: 0.8em;
	text-decoration: none;
	margin-top: 1%;
}

#hide-filter {
	display: none;
}

#dark {
	display: none;
}

#all_filter {
	display: none;
	flex-direction: column;
}

.div_for_search {
	display: flex;
	flex-direction: row;
	padding-right: 1%;
}

.div_for_change_page {
	display: flex;
	justify-content: end;
	margin-right: 2%;
	width: 100%;
}

.span_for_search {
	font-size: 1.5em;
	padding-right: 1%;
}

.input_for_search {
	border: 1px solid #ced4da;
	border-radius: .25rem;
	text-align: center;
	width: 20%;
}

.about {
	display: flex;
	flex-direction: column;
}