body {
	margin: 0px;
	background: #d7f3f8;
}

aside {
	width: 18%;
	min-height: inherit;
	margin: 5px;
	float: left;
	text-align: center;
}

main {
	width: 80%;
	margin: 5px;
	float: right;
}

label {
	font-size: 14px;
}

img {
	border-radius: 50%;
}

#id_title, #id_text_blog, #id_date, #id_username, #id_password, #id_foto, #id_addressee, #id_text_message {
	text-align: left;
	display: block;
	width: 50%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	margin-top: 5px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#id_text_blog, #id_date, #id_text_message {
	height: auto;
}

#id_username, #id_password, #id_email, #id_password1, #id_password2, #id_name, #id_surname, #id_age, #id_about, #id_foto {
	width: 80%;
	text-align: center;
}

#id_foto {
	text-align: left;
}

.errorlist {
	color: red;
}

.blog-custom, .all-block-blog {
	background-color: #d7f3f8;
	border: 3px double rgb(122, 217, 230);
	border-radius: 10px;
}

.blog-custom-g {
	background-color: #9df5b3;
	border: 3px double rgb(121, 245, 121);
}

.blog-custom:hover {
	border: 6px double rgb(122, 217, 230);
	transform: scale(1.05);
	transition: all .6s;
}

.message-custom {
	float: left;
	border: 1px solid rgb(215, 216, 213);
}

.custom-specblog {
	padding: 10px;
}

.commnet-custom {
	background-color: #b8f3cf;
	border: 3px double rgb(48, 228, 87);
	border-radius: 10px;
	padding: 10px;
}
.my-mess-l, .my-mess-r{
	display: block;
	border-radius: 5px;
}
.my-mess-r{
	background-color: rgb(47, 248, 255);
}
.my-mess-l{
	background-color: rgb(63, 245, 108);
}
